# Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a div tag with a class name of result. We can use BeautifulSoup to extract those.

Set up a request (using requests) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)
The URL here has many query parameters

1:q for the job search
2:This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
3:l for a location
4:start for what result number to start on

In [6]:
#Importing all the necessary libraries
import urllib
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re

In [7]:
url= "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

While this has some more verbose elements removed, we can see that there is some structure to the above:

The salary is available in a nobr element inside of a td element with class='snip.
The title of a job is in a link with class set to jobtitle and a data-tn-element="jobTitle.
The location is set in a span with class='location'.
The company is set in a span with class='company'.

In [16]:

def parse(url):
    html = requests.get(url)
    soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
    df = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
    for each in soup.find_all(class_= "result" ):
        try: 
            title = each.find(class_='jobtitle').text.replace('\n', '')
        except:
            title = 'None'
        try:
            location = each.find('span', {'class':"location" }).text.replace('\n', '')
        except:
            location = 'None'
        try: 
            company = each.find(class_='company').text.replace('\n', '')
        except:
            company = 'None'
        try:
            salary = each.find('span', {'class':'no-wrap'}).text
        except:
            salary = 'None'
        synopsis = each.find('div', {'class':'summary'}).text.replace('\n', '')
        df = df.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index='JobId')
    return df

In [17]:
parse(url)

,Title,Location,Company,Salary,Synopsis
0,Data Scientist (Data Startup),None,Averity,"\n $130,000 - $150,000 a year",We are growing quickly and need th...
1,Data Scientist,None,Disney Streaming Services,"\n $98,000 - $145,000 a year (I...",3+ years of experience as a Data S...
2,Data Scientist,None,Lockheed Martin Corporation,"\n $89,000 - $131,000 a year (I...",The applicant is expected to colla...
3,"Scientist, Systems Engineering",None,Harris Corp,"\n $73,000 - $114,000 a year (I...","Job Title – Scientist, Systems Eng..."
4,DATA AND REPORTING SPECIALIST,None,New York City HRA/DEPT OF SOCIAL SERVICES,"\n $82,008 - $100,000 a year",The Office of Program Accountabili...
5,Sr Data Scientist,None,Aetna,None,Leads and participates in the deve...
6,Data Scientist,"New York, NY 10038 (Financial District area)",New York County Defender Services,"\n $88,000 - $129,000 a year (I...",Creating and maintaining a data in...
7,Data Scientist,"New York, NY",Boll & Branch,"\n $98,000 - $145,000 a year (I...",Reporting to the Director of Busin...
8,Senior Data Scientist,"New York, NY 10010 (Gramercy area)",Sub Rosa,None,We are looking for a data scientis...
9,Research Data Analyst,"New York, NY",Weill Cornell Medicine,None,Provides statistical expertise in ...
10,"Data Scientist, Studios Analytics","New York, NY 10011 (Chelsea area)",Spotify,"\n $109,000 - $161,000 a year (...","To help us achieve this, the Data ..."
11,Data Scientist,"New York, NY",Interactive Brokers,"\n $106,000 - $157,000 a year (...",Interactive Brokers Group (IBG) is...
12,Data Scientist,"New York, NY",The CARIAN Group,"\n $120,000 - $177,000 a year (...",3+ years of experience delivering ...
13,Junior Data Scientist,"New York, NY 10020 (Midtown area)",Fareportal Inc.,None,We are seeking a Junior Data Scien...
14,Data (Analyst) Scientist,"New York, NY",A+E Networks,"\n $108,000 - $159,000 a year (...",Data (Analyst) Scientist. The Data Scientist i...
15,Data Scientist,"New York, NY 10001 (Chelsea area)",Roku,"\n $111,000 - $163,000 a year (...",Data Scientists move quickly and prototype new...
16,Research Scientist - Biochemistry,None,Ichor Therapeutics Inc,None,The position will require meticulo...
17,Data Scientist,None,Jobot,"\n $110,000 - $200,000 a year",If you are an Data Scientist with ...

While this has some more verbose elements removed, we can see that there is some structure to the above:

The salary is available in a nobr element inside of a td element with class='snip.
The title of a job is in a link with class set to jobtitle and a data-tn-element="jobTitle.
The location is set in a span with class='location'.
The company is set in a span with class='company'.

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

"http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"
There are two query parameters here we can alter to collect more results, the l=New+York and the start=10. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

Complete the following code to collect results from multiple cities and starting points.
Enter your city below to add it to the search
Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [175]:
YOUR_CITY='Pittsburg'

In [176]:
url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
max_results_per_city = 25 # Set this to a high-value (30) to generate more results. 
# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.
i = 0
results = []
df_more = pd.DataFrame(columns=["Title","Location","Company","Salary", "Synopsis"])
for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
    'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', YOUR_CITY, 
    'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami',
    'Charlottesville', 'Richmond', 'Baltimore', 'Harrisonburg', 'San+Antonio', 'San+Diego', 'San+Jose'
    'Austin', 'Jacksonville', 'Indianapolis', 'Columbus', 'Fort+Worth', 'Charlotte', 'Detroit', 'El+Paso', 
    'Memphis', 'Boston', 'Nashville', 'Louisville', 'Milwaukee', 'Las+Vegas', 'Albuquerque', 'Tucson', 
    'Fresno', 'Sacramento', 'Long+Beach', 'Mesa', 'Virginia+Beach', 'Norfolk', 'Atlanta', 'Colorado+Springs',
    'Raleigh', 'Omaha', 'Oakland', 'Tulsa', 'Minneapolis', 'Cleveland', 'Wichita', 'Arlington', 'New+Orleans', 
    'Bakersfield', 'Tampa', 'Honolulu', 'Anaheim', 'Aurora', 'Santa+Ana', 'Riverside', 'Corpus+Christi', 'Pittsburgh', 
    'Lexington', 'Anchorage', 'Cincinnati', 'Baton+Rouge', 'Chesapeake', 'Alexandria', 'Fairfax', 'Herndon',
    'Reston', 'Roanoke']):
    for start in range(0, max_results_per_city, 10):
        # Grab the results from the request (as above)
        url = url_template.format(city, start)
        # Append to the full set of results
        html = requests.get(url)
        soup = BeautifulSoup(html.content, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try: 
                title = each.find(class_='jobtitle').text.replace('\n', '')
            except:
                title = None
            try:
                location = each.find('span', {'class':"location" }).text.replace('\n', '')
            except:
                location = None
            try: 
                company = each.find(class_='company').text.replace('\n', '')
            except:
                company = None
            try:
                salary = each.find('span', {'class':'no-wrap'}).text.replace('\n','')
            except:
                salary = None
            try:
                synopsis = each.find('div', {'class':'summary'}).text.replace('\n', '')
            except:
                synopsis = None
            df_more = df_more.append({'Title':title, 'Location':location, 'Company':company, 'Salary':salary, 'Synopsis':synopsis}, ignore_index=True)
            i += 1
            if i % 1000 == 0:  # Ram helped me build this counter to see how many. You can visibly see Ram's vernacular in the print statements.
                print('You have ' + str(i) + ' results. ' + str(df_more.dropna().drop_duplicates().shape[0]) + " of these aren't rubbish.")

You have 1000 results. 109 of these aren't rubbish.
You have 2000 results. 234 of these aren't rubbish.
You have 3000 results. 343 of these aren't rubbish.

In [178]:
df_more.head()

,Title,Location,Company,Salary,Synopsis
0,Process Scientist,None,Ampac Fine Chemicals,None,Works under supervision of more se...
1,Sr. Analyst - Data Scientist,None,CarMax,None,"Data Scientist, Expansion Planning & Analysis,..."
2,Life Insurance Agent (Remote) - Fr...,None,ASSURANCE,"$50,000 - $125,000 a year","Our team of engineers, data scient..."
3,Data Scientist,None,Indeed Prime,None,Indeed Prime is a free service tha...
4,"Data Analyst, Data Engineering","Richmond, VA 23219 (City Center area)",United Network for Organ Sharing,None,The Data Analyst must organize com...

Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [179]:
df_more["Salary"]=df_more["Salary"].str.replace("a year"," ",case = False)

In [180]:
df_more["Salary"]=df_more["Salary"].str.replace("Indeed est."," ",case=False)

In [134]:
#df_more["Salary"]=df_more["Salary"].str.replace("()"," ",case=False)

In [181]:
df_more

,Title,Location,Company,Salary,Synopsis
0,Process Scientist,None,Ampac Fine Chemicals,None,Works under supervision of more se...
1,Sr. Analyst - Data Scientist,None,CarMax,None,"Data Scientist, Expansion Planning & Analysis,..."
2,Life Insurance Agent (Remote) - Fr...,None,ASSURANCE,"$50,000 - $125,000","Our team of engineers, data scient..."
3,Data Scientist,None,Indeed Prime,None,Indeed Prime is a free service tha...
4,"Data Analyst, Data Engineering","Richmond, VA 23219 (City Center area)",United Network for Organ Sharing,None,The Data Analyst must organize com...
5,"Data Analyst, Data Products","Richmond, VA 23219 (City Center area)",United Network for Organ Sharing,None,The Data Analyst- Data Products mu...
6,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,"$81,000 - $119,000 ( )",Individual must be comfortable ext...
7,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,"$70,000 - $120,000",The team is fantastic you will be ...
8,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,"$70,000 - $120,000",The team is fantastic you will be ...
9,Entry Level Scientist - Immunochem...,"Richmond, VA 23230",PPD,None,Responsible for review and compila...
10,Data Scientist,"Richmond, VA",VA Commonwealth Univ,"$75,000 - $90,000",Knowledgeable in data science life...
11,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,"$65,000 - $73,000",1+ years’ experience using other a...
12,Senior Data Scientist,"Chesterfield, VA",VA Community College Sys,"$65,000 - $73,000",1+ years' experience using other a...
13,Data Scientist,"Richmond, VA 23284 (The Fan area)",Virginia Commonwealth University,"$53,000 - $78,000 ( )",Working Title Data Scientist. Know...
14,"Data Scientist, Life Experience Studies",None,Genworth,"$105,000 - $155,000 ( )","Data Scientist, Life Experience Studies. As ou..."
15,Sr. Data Scientist,None,carmax,None,Our Data Scientists build sophisti...
16,Sr. Data Scientist,None,carmax,None,Our Data Scientists build sophisti...
17,Sr. Analyst - Data Scientist,None,CarMax,None,"Data Scientist, Expansion Planning & Analysis,..."
18,Life Insurance Agent (Remote) - Fr...,None,ASSURANCE,"$50,000 - $125,000","Our team of engineers, data scient..."
19,Data Scientist,None,Indeed Prime,None,Indeed Prime is a free service tha...
20,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,"$65,000 - $73,000",Creating and managing an integrate...
21,Sr. Analyst - Data Scientist,"Richmond, VA 23238",CarMax,None,"Data Scientist, Expansion Planning & Analysis,..."
22,Lead Data Scientist,"Henrico, VA 23238",Simple Thread,None,"Experience with model development,..."
23,Associate Investigator,"Richmond, VA",DuPont,None,"Maintain, organizes and summarizes..."
24,Research Analyst,"Richmond, VA 23219 (City Center area)",United Network for Organ Sharing,None,Demonstrated data manipulation and...
25,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,"$65,000 - $73,000",1+ years’ experience using other a...
26,Senior Data Scientist,"Chesterfield, VA",VA Community College Sys,"$65,000 - $73,000",1+ years' experience using other a...
27,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,"$86,000 - $126,000 ( )",This data scientist position will ...
28,DATA SCIENTIST,"Chester, VA",Knowledge Facilitation Group,"$85,000 - $126,000 ( )",We are looking for a Data Scientis...
29,Data Scientist,"Richmond, VA","Amyx, Inc.","$93,000 - $138,000 ( )",Five (5) years’ relevant and pract...
...,...,...,...,...,...
3351,Machine Learning Research Scientis...,None,"Novateur Research Solutions, LLC",None,RESEARCH SCIENTIST RESPONSIBILITIE...
3352,Life Insurance Agent,None,Assurance (WA),"$100,000","Our team of engineers, data scient..."
3353,Data Reporting/Healthcare Information Data Sci...,"Memphis, TN 38103 (Downtown area)",Methodist Le Bonheur Healthcare,"$71,000 - $105,000 ( )",The Healthcare Information Data Sc...
3354,SEO Specialist,"Memphis, TN",Wunderman,None,"Headquartered in New York, the age..."
3355,Associate Product Owner,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,"$73,000 - $109,000 ( )","Jude Cloud data access, develop an..."
3356,Research Scientist-Plough Center,"Memphis, TN",University of Tennessee,"$5,099 - $8,677 a month",Thorough knowledge of analytical t...
3357,Research Marketing Analyst,"Memphis, TN 38103 (Downtown area)",RedRover Sales & Marketing Strategy,None,Do you enjoy drawing conclusions b...
3358,Research Scientist-Plough Center,"Memphis, TN 38103 (Downtown area)",The University of Tennessee Health Sci...,"$5,099 - $8,677 a month",Thorough knowledge of analytical t...
3359,Medical Imaging Scientist,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,Jude Children’s Research Hospital ...
3360,Data Modeling Engineer,"Memphis, TN","Trisian-Global Consulting, LLC",None,"Experience in data modeling, ETL d..."
3361,Staff Scientist (Peng Lab),"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,This position is an outstanding op...
3362,Research Lab Specialist & Staff Sc...,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,Staff Scientist Experience. Famili...
3363,(Remote) Health Insurance Agent - ...,None,ASSURANCE,"$50,000 - $125,000","Our team of engineers, data scient..."
3364,Life Insurance Agent (Remote) - Fr...,None,ASSURANCE,"$50,000 - $125,000","Our team of engineers, data scient..."
3365,Data Reporting/Healthcare Information Data Sci...,None,Methodist Le Bonheur Healthcare,"$71,000 - $105,000 ( )",The Healthcare Information Data Sc...
3366,Research Scientist-Plough Center,"Memphis, TN",University of Tennessee,"$5,099 - $8,677 a month",Thorough knowledge of analytical t...
3367,Machine Learning Research Scientis...,None,"Novateur Research Solutions, LLC",None,RESEARCH SCIENTIST RESPONSIBILITIE...
3368,Life Insurance Agent,None,Assurance (WA),"$100,000","Our team of engineers, data scient..."
3369,Data Engineer,"Memphis, TN 38115 (Hickory Ridge-South Riverda...",Varsity Spirit LLC,None,"Experience in data modeling, ETL d..."
3370,Design Strategist,"Millington, TN",Booz Allen Hamilton,None,Leverage expertise from Booz Allen...
3371,Staff Scientist (Chemical Biology ...,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,Proficiency in e.g. python or shel...
3372,Staff Scientist (Pathology),"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,The Staff Scientist in Dr. Assist ...
3373,Research Scientist-Plough Center,"Memphis, TN 38103 (Downtown area)",The University of Tennessee Health Sci...,"$5,099 - $8,677 a month",Thorough knowledge of analytical t...
3374,Research Lab Specialist & Staff Sc...,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,Staff Scientist Experience. Famili...
3375,Operations Research MGR,"Memphis, TN",Terminix,None,Experience teaching and mentoring ...
3376,Associate Software Development Eng...,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,Developing and maintaining data st...
3377,Staff Scientist Microscopy,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,None,Assist in data analysis and reduct...
3378,(Remote) Health Insurance Agent - ...,None,ASSURANCE,"$50,000 - $125,000","Our team of engineers, data scient..."
3379,Life Insurance Agent (Remote) - Fr...,None,ASSURANCE,"$50,000 - $125,000","Our team of engineers, data scient..."
3380,Data Reporting/Healthcare Information Data Sci...,None,Methodist Le Bonheur Healthcare,None,The Healthcare Information Data Sc...

Dropping all the duplicates and null values

In [182]:
print (df_more.head())
print (df_more.shape)
print (df_more[df_more.Salary != 'None'].shape)
df_more = df_more[df_more.Salary != 'None'].drop_duplicates().dropna()
print (df_more.shape)

                                               Title  \
0                                  Process Scientist
1                       Sr. Analyst - Data Scientist
2              Life Insurance Agent (Remote) - Fr...
3                                     Data Scientist
4                     Data Analyst, Data Engineering

                                Location  \
0                                   None
1                                   None
2                                   None
3                                   None
4  Richmond, VA 23219 (City Center area)

                                    Company  \
0                      Ampac Fine Chemicals
1                                    CarMax
2                                 ASSURANCE
3                              Indeed Prime
4          United Network for Organ Sharing

                                 Salary  \
0                                  None
1                                  None
2                  $50,000 - $125,000
3                                  None
4                                  None

                                            Synopsis
0              Works under supervision of more se...
1  Data Scientist, Expansion Planning & Analysis,...
2              Our team of engineers, data scient...
3              Indeed Prime is a free service tha...
4              The Data Analyst must organize com...
(3381, 5)
(3381, 5)
(372, 5)

In [ ]:
# Removing all the rows having Salaries in hourly or monthly basis

In [183]:
df_more = df_more[df_more.Salary.str.contains("hour") == False]
df_more = df_more[df_more.Salary.str.contains("month") == False]
df_more = df_more[df_more.Salary.str.contains("week") == False]
print (df_more.shape)
df_more.head()

(293, 5)

,Title,Location,Company,Salary,Synopsis
6,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,"$81,000 - $119,000 ( )",Individual must be comfortable ext...
7,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,"$70,000 - $120,000",The team is fantastic you will be ...
8,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,"$70,000 - $120,000",The team is fantastic you will be ...
10,Data Scientist,"Richmond, VA",VA Commonwealth Univ,"$75,000 - $90,000",Knowledgeable in data science life...
11,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,"$65,000 - $73,000",1+ years’ experience using other a...

# Creating 2 Rows with Low Salary and High Salary

In [184]:
df_more = df_more.join(df_more['Salary'].str.split('-', 1, expand=True).rename(columns={0:'Low Salary', 1:'High Salary'}))

In [185]:
df_more = df_more.drop(['Salary'],axis=1)

#Creating 2 more rows by dividing Location to City and State

In [186]:
df_more = df_more.join(df_more['Location'].str.split(',', 1, expand=True).rename(columns={0:'City', 1:'State'}))

In [187]:
df_more.head()

,Title,Location,Company,Synopsis,Low Salary,High Salary,City,State
6,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,Individual must be comfortable ext...,"$81,000","$119,000 ( )",Midlothian,VA 23112
7,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,"$70,000","$120,000",Richmond,VA
8,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,"$70,000","$120,000",Richmond,VA
10,Data Scientist,"Richmond, VA",VA Commonwealth Univ,Knowledgeable in data science life...,"$75,000","$90,000",Richmond,VA
11,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,1+ years’ experience using other a...,"$65,000","$73,000",Chesterfield,VA

#Creating new Column having state initials

In [188]:
def strip_state(x):
    if x != None:
        return x[0:3]
    else:
        None
df_more['State Initials'] = df_more['State'].apply(strip_state)

In [189]:
df_more= df_more.drop(['State'],axis=1)

In [172]:
#df_more.drop(['Salary'],axis=1)

In [190]:
#Auditing
df_more.isnull().sum()

Title              0
Location           0
Company            0
Synopsis           0
Low Salary         0
High Salary       24
City               0
State Initials     0
dtype: int64

In [191]:
df_more

,Title,Location,Company,Synopsis,Low Salary,High Salary,City,State Initials
6,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,Individual must be comfortable ext...,"$81,000","$119,000 ( )",Midlothian,VA
7,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,"$70,000","$120,000",Richmond,VA
8,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,"$70,000","$120,000",Richmond,VA
10,Data Scientist,"Richmond, VA",VA Commonwealth Univ,Knowledgeable in data science life...,"$75,000","$90,000",Richmond,VA
11,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,1+ years’ experience using other a...,"$65,000","$73,000",Chesterfield,VA
12,Senior Data Scientist,"Chesterfield, VA",VA Community College Sys,1+ years' experience using other a...,"$65,000","$73,000",Chesterfield,VA
13,Data Scientist,"Richmond, VA 23284 (The Fan area)",Virginia Commonwealth University,Working Title Data Scientist. Know...,"$53,000","$78,000 ( )",Richmond,VA
20,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,"$65,000","$73,000",Richmond,VA
27,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,This data scientist position will ...,"$86,000","$126,000 ( )",Richmond,VA
28,DATA SCIENTIST,"Chester, VA",Knowledge Facilitation Group,We are looking for a Data Scientis...,"$85,000","$126,000 ( )",Chester,VA
29,Data Scientist,"Richmond, VA","Amyx, Inc.",Five (5) years’ relevant and pract...,"$93,000","$138,000 ( )",Richmond,VA
35,Data Scientist with Hortonworks / CloudEra - R...,"Richmond, VA 23230",CSS Corporation,Design of Data Structures & Data M...,"$105,000","$154,000 ( )",Richmond,VA
36,Policy Research Analyst,"Richmond, VA",New Virginia Majority,The Policy Research Analyst will s...,"$42,000","$55,000",Richmond,VA
39,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,"$65,000","$73,000",Richmond,VA
40,Data Scientist,"Richmond, VA",Horizon Industries Ltd,Duties of a Data Scientist may inc...,"$99,000","$146,000 ( )",Richmond,VA
44,Newborn Screening Senior Scientist...,"Richmond, VA 23220 (The Fan area)",Virginia Department of General Services,"As a NBS Senior Scientist, this po...","$48,681","$60,617",Richmond,VA
51,Data Scientist,"Indianapolis, IN 46204",The Prosper Group,Proactively identifies new data op...,"$67,000","$99,000 ( )",Indianapolis,IN
52,Data Scientist Intern,"Indianapolis, IN 46214",Covance,CRO data at Covance is inherently ...,"$101,000","$149,000 ( )",Indianapolis,IN
54,Data Scientist,"Carmel, IN 46032",Zotec Partners,Develop custom data models and alg...,"$82,000","$122,000 ( )",Carmel,IN
55,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,"$77,000","$114,000 ( )",Indianapolis,IN
56,Data Scientist,"Indianapolis, IN",Crowe,Collaborate with analytic and data...,"$96,000","$142,000 ( )",Indianapolis,IN
57,Data Scientist,"Indianapolis, IN",Elements Financial,Analyze data for trends and patter...,"$93,000","$137,000 ( )",Indianapolis,IN
58,DATA SCIENTIST II,"Indianapolis, IN",OneAmerica,Data Scientist II. Conduct exploratory data an...,"$88,000","$130,000 ( )",Indianapolis,IN
66,Data Scientist,"Indianapolis, IN 46240",Crowe,Collaborate with analytic and data...,"$96,000","$142,000 ( )",Indianapolis,IN
68,Data Scientist,"Indianapolis, IN 46240",KSM Consulting,To help continue our rapid growth ...,"$91,000","$135,000 ( )",Indianapolis,IN
87,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,"$77,000","$114,000 ( )",Indianapolis,IN
105,Data Scientist,"San Francisco, CA 94158 (South Of Market area)",Retrace Labs,*Company Description: * Retrace is...,"$150,000","$300,000",San Francisco,CA
154,Biological Science Laboratory Tech...,"Saint Paul, MN",US Department of Agriculture,"Keeping exact, detailed records of...","$49,926","$71,683",Saint Paul,MN
167,"Sr Research Scientist, Early Child...","Minneapolis, MN 55401 (North Loop area)",Child Trends,"Supervises the data collection, ta...","$103,500",None,Minneapolis,MN
216,Research Analyst,"Houston, TX",Rice University,And follow standard data managemen...,"$68,557",None,Houston,TX
...,...,...,...,...,...,...,...,...
2962,Research Analyst - Newport Beach (...,"Newport Beach, CA 92660",The Concord Group,Identify and analyze noteworthy da...,"$40,000","$45,000",Newport Beach,CA
2963,Data Scientist II,"Irvine, CA 92618",Cox Automotive,The Data Scientist will be involve...,"$97,000","$143,000 ( )",Irvine,CA
2966,"Intern, Financial Revenue Data Ana...","Aliso Viejo, CA",Ambry Genetics,"Finance, Data Science, Math, or St...","$83,000","$122,000 ( )",Aliso Viejo,CA
2967,Data Scientist,"Aliso Viejo, CA",Driveway,We are looking for a Data Scientis...,"$93,000","$137,000 ( )",Aliso Viejo,CA
2977,Post Doctoral (Pharmaceutical Scie...,"El Paso, TX 79902 (Mission Hills area)",University of Texas at El Paso,Participates in conducting researc...,"$27,000","$37,000 ( )",El Paso,TX
3014,Data Scientist,"New York, NY",Interactive Brokers,Interactive Brokers Group (IBG) is...,"$106,000","$157,000 ( )",New York,NY
3015,Data Scientist Intern,"Rome, NY 13441",Booz Allen Hamilton,Data Scientist Intern. Knowledge of standard r...,"$75,000","$111,000 ( )",Rome,NY
3016,Data Scientist,"New York, NY",Downtown Music Publishing,2+ years professional data analysi...,"$96,000","$141,000 ( )",New York,NY
3018,Data Scientist,"New York, NY 10016 (Gramercy area)",AETNA,Strong knowledge of advanced analy...,"$94,000","$138,000 ( )",New York,NY
3019,Data Scientist,"New York, NY 10038 (Financial District area)",New York County Defender Services,Creating and maintaining a data in...,"$88,000","$129,000 ( )",New York,NY
3020,"Intern, Data Science","New York, NY 10001 (Chelsea area)",Roku,Work along-side our data scientist...,"$117,000","$173,000 ( )",New York,NY
3021,Data Scientist,"New York, NY",New York University,The Public Safety Lab at New York ...,"$84,000","$124,000 ( )",New York,NY
3022,Associate Data Scientist - NYC Hea...,"New York, NY 10016 (Gramercy area)",Unified,"As an Associate Data Scientist, yo...","$103,000","$151,000 ( )",New York,NY
3032,Design & Research Analyst (Data),"New York, NY 10004 (Financial District area)",New York City TAXI & LIMOUSINE COMMISSION,Mine existing data sources to unde...,"$52,524","$54,000",New York,NY
3046,Data Scientist - Uber Everything (NYC),"New York, NY 10018 (Clinton area)",Uber,"To solve these problems, data scie...","$105,000","$155,000 ( )",New York,NY
3048,Data Scientist,"New York, NY",HelloFresh,We're hiring a Data Scientist to j...,"$100,000","$147,000 ( )",New York,NY
3049,Data Scientist,"New York, NY 10011 (Chelsea area)",WebMD,"As a Data Scientist, you will lead...","$116,000","$171,000 ( )",New York,NY
3052,Data Scientist,"New York, NY 10001 (Chelsea area)",Roku,Data Scientists move quickly and prototype new...,"$111,000","$163,000 ( )",New York,NY
3054,"Data Scientist, User Fraud","New York, NY 10011 (Chelsea area)",Spotify,We are looking for a Senior Data S...,"$127,000","$187,000 ( )",New York,NY
3055,Data Scientist Intern/Coop,"Armonk, NY 10504",IBM,The GCDO drives the data managemen...,"$98,000","$144,000 ( )",Armonk,NY
3115,Data Analysis Lead Specialist,"Philadelphia, PA",Chester County Intermediate Unit,Position Type: Contractor / Consul...,"$30,000","$44,000",Philadelphia,PA
3149,Senior Data Analyst,"Philadelphia, PA 19104 (Belmont area)",Urban Health Collaborative- Drexel Uni...,Advanced data compilation and data...,"$70,000","$100,000",Philadelphia,PA
3168,Statistical Data Analyst,"Tampa, FL",University of South Florida,4725 / Statistical Data Analyst. S...,"$45,000","$53,500",Tampa,FL
3197,Biological Scientist,"Tampa, FL",University of South Florida,5033 / Biological Scientist. Perfo...,"$32,000","$38,500",Tampa,FL
3231,Customer Facing Data Scientist,"Portland, TX",DataRobot,Customer Facing Data Scientists (C...,"$111,000","$163,000 ( )",Portland,TX
3232,Research Specialist,"Corpus Christi, TX",Texas A&M University Corpus Christi,Data Analyses - 40%. Knowledge of coastal and ...,"$40,000","$61,000 ( )",Corpus Christi,TX
3281,MARKET RESEARCH ANALYST,"Miami Beach, FL",IMW Internet Marketing WorldWide,"Identify the right target, forecas...","$37,086",None,Miami Beach,FL
3285,"Data Scientist, Optimization","Fort Lauderdale, FL","Magic Leap, Inc.",Experience with data visualization...,"$102,000","$151,000 ( )",Fort Lauderdale,FL
3353,Data Reporting/Healthcare Information Data Sci...,"Memphis, TN 38103 (Downtown area)",Methodist Le Bonheur Healthcare,The Healthcare Information Data Sc...,"$71,000","$105,000 ( )",Memphis,TN
3355,Associate Product Owner,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,"Jude Cloud data access, develop an...","$73,000","$109,000 ( )",Memphis,TN

In [192]:
df_more['High Salary'] = df_more['High Salary'].str.replace(',','')

In [193]:
df_more['Low Salary']= df_more['Low Salary'].str.replace(',','')

In [194]:
df_more[str('Low Salary')] = df_more[str('Low Salary')].replace({'\$':''}, regex = True)

In [195]:
df_more[str('High Salary')] = df_more[str('High Salary')].replace({'\$':''}, regex = True)

In [202]:
#df_more[str('High Salary')] = df_more[str('High Salary')].replace({'(':''},regex = True)

In [197]:
df_more

,Title,Location,Company,Synopsis,Low Salary,High Salary,City,State Initials
6,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,Individual must be comfortable ext...,81000,119000 ( ),Midlothian,VA
7,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,70000,120000,Richmond,VA
8,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,70000,120000,Richmond,VA
10,Data Scientist,"Richmond, VA",VA Commonwealth Univ,Knowledgeable in data science life...,75000,90000,Richmond,VA
11,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,1+ years’ experience using other a...,65000,73000,Chesterfield,VA
12,Senior Data Scientist,"Chesterfield, VA",VA Community College Sys,1+ years' experience using other a...,65000,73000,Chesterfield,VA
13,Data Scientist,"Richmond, VA 23284 (The Fan area)",Virginia Commonwealth University,Working Title Data Scientist. Know...,53000,78000 ( ),Richmond,VA
20,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,65000,73000,Richmond,VA
27,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,This data scientist position will ...,86000,126000 ( ),Richmond,VA
28,DATA SCIENTIST,"Chester, VA",Knowledge Facilitation Group,We are looking for a Data Scientis...,85000,126000 ( ),Chester,VA
29,Data Scientist,"Richmond, VA","Amyx, Inc.",Five (5) years’ relevant and pract...,93000,138000 ( ),Richmond,VA
35,Data Scientist with Hortonworks / CloudEra - R...,"Richmond, VA 23230",CSS Corporation,Design of Data Structures & Data M...,105000,154000 ( ),Richmond,VA
36,Policy Research Analyst,"Richmond, VA",New Virginia Majority,The Policy Research Analyst will s...,42000,55000,Richmond,VA
39,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,65000,73000,Richmond,VA
40,Data Scientist,"Richmond, VA",Horizon Industries Ltd,Duties of a Data Scientist may inc...,99000,146000 ( ),Richmond,VA
44,Newborn Screening Senior Scientist...,"Richmond, VA 23220 (The Fan area)",Virginia Department of General Services,"As a NBS Senior Scientist, this po...",48681,60617,Richmond,VA
51,Data Scientist,"Indianapolis, IN 46204",The Prosper Group,Proactively identifies new data op...,67000,99000 ( ),Indianapolis,IN
52,Data Scientist Intern,"Indianapolis, IN 46214",Covance,CRO data at Covance is inherently ...,101000,149000 ( ),Indianapolis,IN
54,Data Scientist,"Carmel, IN 46032",Zotec Partners,Develop custom data models and alg...,82000,122000 ( ),Carmel,IN
55,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,77000,114000 ( ),Indianapolis,IN
56,Data Scientist,"Indianapolis, IN",Crowe,Collaborate with analytic and data...,96000,142000 ( ),Indianapolis,IN
57,Data Scientist,"Indianapolis, IN",Elements Financial,Analyze data for trends and patter...,93000,137000 ( ),Indianapolis,IN
58,DATA SCIENTIST II,"Indianapolis, IN",OneAmerica,Data Scientist II. Conduct exploratory data an...,88000,130000 ( ),Indianapolis,IN
66,Data Scientist,"Indianapolis, IN 46240",Crowe,Collaborate with analytic and data...,96000,142000 ( ),Indianapolis,IN
68,Data Scientist,"Indianapolis, IN 46240",KSM Consulting,To help continue our rapid growth ...,91000,135000 ( ),Indianapolis,IN
87,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,77000,114000 ( ),Indianapolis,IN
105,Data Scientist,"San Francisco, CA 94158 (South Of Market area)",Retrace Labs,*Company Description: * Retrace is...,150000,300000,San Francisco,CA
154,Biological Science Laboratory Tech...,"Saint Paul, MN",US Department of Agriculture,"Keeping exact, detailed records of...",49926,71683,Saint Paul,MN
167,"Sr Research Scientist, Early Child...","Minneapolis, MN 55401 (North Loop area)",Child Trends,"Supervises the data collection, ta...",103500,None,Minneapolis,MN
216,Research Analyst,"Houston, TX",Rice University,And follow standard data managemen...,68557,None,Houston,TX
...,...,...,...,...,...,...,...,...
2962,Research Analyst - Newport Beach (...,"Newport Beach, CA 92660",The Concord Group,Identify and analyze noteworthy da...,40000,45000,Newport Beach,CA
2963,Data Scientist II,"Irvine, CA 92618",Cox Automotive,The Data Scientist will be involve...,97000,143000 ( ),Irvine,CA
2966,"Intern, Financial Revenue Data Ana...","Aliso Viejo, CA",Ambry Genetics,"Finance, Data Science, Math, or St...",83000,122000 ( ),Aliso Viejo,CA
2967,Data Scientist,"Aliso Viejo, CA",Driveway,We are looking for a Data Scientis...,93000,137000 ( ),Aliso Viejo,CA
2977,Post Doctoral (Pharmaceutical Scie...,"El Paso, TX 79902 (Mission Hills area)",University of Texas at El Paso,Participates in conducting researc...,27000,37000 ( ),El Paso,TX
3014,Data Scientist,"New York, NY",Interactive Brokers,Interactive Brokers Group (IBG) is...,106000,157000 ( ),New York,NY
3015,Data Scientist Intern,"Rome, NY 13441",Booz Allen Hamilton,Data Scientist Intern. Knowledge of standard r...,75000,111000 ( ),Rome,NY
3016,Data Scientist,"New York, NY",Downtown Music Publishing,2+ years professional data analysi...,96000,141000 ( ),New York,NY
3018,Data Scientist,"New York, NY 10016 (Gramercy area)",AETNA,Strong knowledge of advanced analy...,94000,138000 ( ),New York,NY
3019,Data Scientist,"New York, NY 10038 (Financial District area)",New York County Defender Services,Creating and maintaining a data in...,88000,129000 ( ),New York,NY
3020,"Intern, Data Science","New York, NY 10001 (Chelsea area)",Roku,Work along-side our data scientist...,117000,173000 ( ),New York,NY
3021,Data Scientist,"New York, NY",New York University,The Public Safety Lab at New York ...,84000,124000 ( ),New York,NY
3022,Associate Data Scientist - NYC Hea...,"New York, NY 10016 (Gramercy area)",Unified,"As an Associate Data Scientist, yo...",103000,151000 ( ),New York,NY
3032,Design & Research Analyst (Data),"New York, NY 10004 (Financial District area)",New York City TAXI & LIMOUSINE COMMISSION,Mine existing data sources to unde...,52524,54000,New York,NY
3046,Data Scientist - Uber Everything (NYC),"New York, NY 10018 (Clinton area)",Uber,"To solve these problems, data scie...",105000,155000 ( ),New York,NY
3048,Data Scientist,"New York, NY",HelloFresh,We're hiring a Data Scientist to j...,100000,147000 ( ),New York,NY
3049,Data Scientist,"New York, NY 10011 (Chelsea area)",WebMD,"As a Data Scientist, you will lead...",116000,171000 ( ),New York,NY
3052,Data Scientist,"New York, NY 10001 (Chelsea area)",Roku,Data Scientists move quickly and prototype new...,111000,163000 ( ),New York,NY
3054,"Data Scientist, User Fraud","New York, NY 10011 (Chelsea area)",Spotify,We are looking for a Senior Data S...,127000,187000 ( ),New York,NY
3055,Data Scientist Intern/Coop,"Armonk, NY 10504",IBM,The GCDO drives the data managemen...,98000,144000 ( ),Armonk,NY
3115,Data Analysis Lead Specialist,"Philadelphia, PA",Chester County Intermediate Unit,Position Type: Contractor / Consul...,30000,44000,Philadelphia,PA
3149,Senior Data Analyst,"Philadelphia, PA 19104 (Belmont area)",Urban Health Collaborative- Drexel Uni...,Advanced data compilation and data...,70000,100000,Philadelphia,PA
3168,Statistical Data Analyst,"Tampa, FL",University of South Florida,4725 / Statistical Data Analyst. S...,45000,53500,Tampa,FL
3197,Biological Scientist,"Tampa, FL",University of South Florida,5033 / Biological Scientist. Perfo...,32000,38500,Tampa,FL
3231,Customer Facing Data Scientist,"Portland, TX",DataRobot,Customer Facing Data Scientists (C...,111000,163000 ( ),Portland,TX
3232,Research Specialist,"Corpus Christi, TX",Texas A&M University Corpus Christi,Data Analyses - 40%. Knowledge of coastal and ...,40000,61000 ( ),Corpus Christi,TX
3281,MARKET RESEARCH ANALYST,"Miami Beach, FL",IMW Internet Marketing WorldWide,"Identify the right target, forecas...",37086,None,Miami Beach,FL
3285,"Data Scientist, Optimization","Fort Lauderdale, FL","Magic Leap, Inc.",Experience with data visualization...,102000,151000 ( ),Fort Lauderdale,FL
3353,Data Reporting/Healthcare Information Data Sci...,"Memphis, TN 38103 (Downtown area)",Methodist Le Bonheur Healthcare,The Healthcare Information Data Sc...,71000,105000 ( ),Memphis,TN
3355,Associate Product Owner,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,"Jude Cloud data access, develop an...",73000,109000 ( ),Memphis,TN

In [122]:
#df_more['Average'] = df_more[['Low', 'High']].mean(axis=1)

In [198]:
df_more.reset_index(drop=True,inplace=True)

In [199]:
df_more.index += 1

In [200]:
df_more

,Title,Location,Company,Synopsis,Low Salary,High Salary,City,State Initials
1,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,Individual must be comfortable ext...,81000,119000 ( ),Midlothian,VA
2,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,70000,120000,Richmond,VA
3,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,70000,120000,Richmond,VA
4,Data Scientist,"Richmond, VA",VA Commonwealth Univ,Knowledgeable in data science life...,75000,90000,Richmond,VA
5,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,1+ years’ experience using other a...,65000,73000,Chesterfield,VA
6,Senior Data Scientist,"Chesterfield, VA",VA Community College Sys,1+ years' experience using other a...,65000,73000,Chesterfield,VA
7,Data Scientist,"Richmond, VA 23284 (The Fan area)",Virginia Commonwealth University,Working Title Data Scientist. Know...,53000,78000 ( ),Richmond,VA
8,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,65000,73000,Richmond,VA
9,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,This data scientist position will ...,86000,126000 ( ),Richmond,VA
10,DATA SCIENTIST,"Chester, VA",Knowledge Facilitation Group,We are looking for a Data Scientis...,85000,126000 ( ),Chester,VA
11,Data Scientist,"Richmond, VA","Amyx, Inc.",Five (5) years’ relevant and pract...,93000,138000 ( ),Richmond,VA
12,Data Scientist with Hortonworks / CloudEra - R...,"Richmond, VA 23230",CSS Corporation,Design of Data Structures & Data M...,105000,154000 ( ),Richmond,VA
13,Policy Research Analyst,"Richmond, VA",New Virginia Majority,The Policy Research Analyst will s...,42000,55000,Richmond,VA
14,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,65000,73000,Richmond,VA
15,Data Scientist,"Richmond, VA",Horizon Industries Ltd,Duties of a Data Scientist may inc...,99000,146000 ( ),Richmond,VA
16,Newborn Screening Senior Scientist...,"Richmond, VA 23220 (The Fan area)",Virginia Department of General Services,"As a NBS Senior Scientist, this po...",48681,60617,Richmond,VA
17,Data Scientist,"Indianapolis, IN 46204",The Prosper Group,Proactively identifies new data op...,67000,99000 ( ),Indianapolis,IN
18,Data Scientist Intern,"Indianapolis, IN 46214",Covance,CRO data at Covance is inherently ...,101000,149000 ( ),Indianapolis,IN
19,Data Scientist,"Carmel, IN 46032",Zotec Partners,Develop custom data models and alg...,82000,122000 ( ),Carmel,IN
20,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,77000,114000 ( ),Indianapolis,IN
21,Data Scientist,"Indianapolis, IN",Crowe,Collaborate with analytic and data...,96000,142000 ( ),Indianapolis,IN
22,Data Scientist,"Indianapolis, IN",Elements Financial,Analyze data for trends and patter...,93000,137000 ( ),Indianapolis,IN
23,DATA SCIENTIST II,"Indianapolis, IN",OneAmerica,Data Scientist II. Conduct exploratory data an...,88000,130000 ( ),Indianapolis,IN
24,Data Scientist,"Indianapolis, IN 46240",Crowe,Collaborate with analytic and data...,96000,142000 ( ),Indianapolis,IN
25,Data Scientist,"Indianapolis, IN 46240",KSM Consulting,To help continue our rapid growth ...,91000,135000 ( ),Indianapolis,IN
26,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,77000,114000 ( ),Indianapolis,IN
27,Data Scientist,"San Francisco, CA 94158 (South Of Market area)",Retrace Labs,*Company Description: * Retrace is...,150000,300000,San Francisco,CA
28,Biological Science Laboratory Tech...,"Saint Paul, MN",US Department of Agriculture,"Keeping exact, detailed records of...",49926,71683,Saint Paul,MN
29,"Sr Research Scientist, Early Child...","Minneapolis, MN 55401 (North Loop area)",Child Trends,"Supervises the data collection, ta...",103500,None,Minneapolis,MN
30,Research Analyst,"Houston, TX",Rice University,And follow standard data managemen...,68557,None,Houston,TX
...,...,...,...,...,...,...,...,...
264,Research Analyst - Newport Beach (...,"Newport Beach, CA 92660",The Concord Group,Identify and analyze noteworthy da...,40000,45000,Newport Beach,CA
265,Data Scientist II,"Irvine, CA 92618",Cox Automotive,The Data Scientist will be involve...,97000,143000 ( ),Irvine,CA
266,"Intern, Financial Revenue Data Ana...","Aliso Viejo, CA",Ambry Genetics,"Finance, Data Science, Math, or St...",83000,122000 ( ),Aliso Viejo,CA
267,Data Scientist,"Aliso Viejo, CA",Driveway,We are looking for a Data Scientis...,93000,137000 ( ),Aliso Viejo,CA
268,Post Doctoral (Pharmaceutical Scie...,"El Paso, TX 79902 (Mission Hills area)",University of Texas at El Paso,Participates in conducting researc...,27000,37000 ( ),El Paso,TX
269,Data Scientist,"New York, NY",Interactive Brokers,Interactive Brokers Group (IBG) is...,106000,157000 ( ),New York,NY
270,Data Scientist Intern,"Rome, NY 13441",Booz Allen Hamilton,Data Scientist Intern. Knowledge of standard r...,75000,111000 ( ),Rome,NY
271,Data Scientist,"New York, NY",Downtown Music Publishing,2+ years professional data analysi...,96000,141000 ( ),New York,NY
272,Data Scientist,"New York, NY 10016 (Gramercy area)",AETNA,Strong knowledge of advanced analy...,94000,138000 ( ),New York,NY
273,Data Scientist,"New York, NY 10038 (Financial District area)",New York County Defender Services,Creating and maintaining a data in...,88000,129000 ( ),New York,NY
274,"Intern, Data Science","New York, NY 10001 (Chelsea area)",Roku,Work along-side our data scientist...,117000,173000 ( ),New York,NY
275,Data Scientist,"New York, NY",New York University,The Public Safety Lab at New York ...,84000,124000 ( ),New York,NY
276,Associate Data Scientist - NYC Hea...,"New York, NY 10016 (Gramercy area)",Unified,"As an Associate Data Scientist, yo...",103000,151000 ( ),New York,NY
277,Design & Research Analyst (Data),"New York, NY 10004 (Financial District area)",New York City TAXI & LIMOUSINE COMMISSION,Mine existing data sources to unde...,52524,54000,New York,NY
278,Data Scientist - Uber Everything (NYC),"New York, NY 10018 (Clinton area)",Uber,"To solve these problems, data scie...",105000,155000 ( ),New York,NY
279,Data Scientist,"New York, NY",HelloFresh,We're hiring a Data Scientist to j...,100000,147000 ( ),New York,NY
280,Data Scientist,"New York, NY 10011 (Chelsea area)",WebMD,"As a Data Scientist, you will lead...",116000,171000 ( ),New York,NY
281,Data Scientist,"New York, NY 10001 (Chelsea area)",Roku,Data Scientists move quickly and prototype new...,111000,163000 ( ),New York,NY
282,"Data Scientist, User Fraud","New York, NY 10011 (Chelsea area)",Spotify,We are looking for a Senior Data S...,127000,187000 ( ),New York,NY
283,Data Scientist Intern/Coop,"Armonk, NY 10504",IBM,The GCDO drives the data managemen...,98000,144000 ( ),Armonk,NY
284,Data Analysis Lead Specialist,"Philadelphia, PA",Chester County Intermediate Unit,Position Type: Contractor / Consul...,30000,44000,Philadelphia,PA
285,Senior Data Analyst,"Philadelphia, PA 19104 (Belmont area)",Urban Health Collaborative- Drexel Uni...,Advanced data compilation and data...,70000,100000,Philadelphia,PA
286,Statistical Data Analyst,"Tampa, FL",University of South Florida,4725 / Statistical Data Analyst. S...,45000,53500,Tampa,FL
287,Biological Scientist,"Tampa, FL",University of South Florida,5033 / Biological Scientist. Perfo...,32000,38500,Tampa,FL
288,Customer Facing Data Scientist,"Portland, TX",DataRobot,Customer Facing Data Scientists (C...,111000,163000 ( ),Portland,TX
289,Research Specialist,"Corpus Christi, TX",Texas A&M University Corpus Christi,Data Analyses - 40%. Knowledge of coastal and ...,40000,61000 ( ),Corpus Christi,TX
290,MARKET RESEARCH ANALYST,"Miami Beach, FL",IMW Internet Marketing WorldWide,"Identify the right target, forecas...",37086,None,Miami Beach,FL
291,"Data Scientist, Optimization","Fort Lauderdale, FL","Magic Leap, Inc.",Experience with data visualization...,102000,151000 ( ),Fort Lauderdale,FL
292,Data Reporting/Healthcare Information Data Sci...,"Memphis, TN 38103 (Downtown area)",Methodist Le Bonheur Healthcare,The Healthcare Information Data Sc...,71000,105000 ( ),Memphis,TN
293,Associate Product Owner,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,"Jude Cloud data access, develop an...",73000,109000 ( ),Memphis,TN

In [201]:
df_more.to_csv("tasty.csv")

# 1 Importing libraries

In [18]:
import numpy as np
import pandas as pd
import tweepy
import json

# 2 Authentication

In [19]:
access_token = "1094669446327791619-YOzcYMTzeSYofWWNLDvobSda4pUSzp"
access_token_secret = "eQps0UdGWlrYVutCftnNBj2zGQAPBD1vQbybwG9zeqfy8"
api_key = "X9LxDdcBgNdN2p6YVdnuMJeCf"
api_secret = "qbA6zb5hgpc8JyOg8Vcv1uDc8EljyLQIN0xSDm0Fp3mqjiDeUI"
auth = tweepy.OAuthHandler(api_key, api_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

In [20]:
df_more=pd.read_csv("tasty.csv")

In [21]:
df_more

,Job_id,Title,Location,Company,Synopsis,Low Salary,High Salary,City,State Initials
0,1,Data Scientist I,"Midlothian, VA 23112",Virginia Credit Union,Individual must be comfortable ext...,81000,119000.0,Midlothian,VA
1,2,Data Scientist - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,70000,120000.0,Richmond,VA
2,3,Data Analyst - FinTech Company,"Richmond, VA",Lennon Wright Associates,The team is fantastic you will be ...,70000,120000.0,Richmond,VA
3,4,Data Scientist,"Richmond, VA",VA Commonwealth Univ,Knowledgeable in data science life...,75000,90000.0,Richmond,VA
4,5,Senior Data Scientist,"Chesterfield, VA",Virginia VA Community College Sys,1+ years’ experience using other a...,65000,73000.0,Chesterfield,VA
5,6,Senior Data Scientist,"Chesterfield, VA",VA Community College Sys,1+ years' experience using other a...,65000,73000.0,Chesterfield,VA
6,7,Data Scientist,"Richmond, VA 23284 (The Fan area)",Virginia Commonwealth University,Working Title Data Scientist. Know...,53000,78000.0,Richmond,VA
7,8,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,65000,73000.0,Richmond,VA
8,9,Data Scientist,"Richmond, VA 23219 (City Center area)",Afton Chemical,This data scientist position will ...,86000,126000.0,Richmond,VA
9,10,DATA SCIENTIST,"Chester, VA",Knowledge Facilitation Group,We are looking for a Data Scientis...,85000,126000.0,Chester,VA
10,11,Data Scientist,"Richmond, VA","Amyx, Inc.",Five (5) years’ relevant and pract...,93000,138000.0,Richmond,VA
11,12,Data Scientist with Hortonworks / CloudEra - R...,"Richmond, VA 23230",CSS Corporation,Design of Data Structures & Data M...,105000,154000.0,Richmond,VA
12,13,Policy Research Analyst,"Richmond, VA",New Virginia Majority,The Policy Research Analyst will s...,42000,55000.0,Richmond,VA
13,14,Senior Data Scientist - Virginia C...,"Richmond, VA",Virginia Community College System,Creating and managing an integrate...,65000,73000.0,Richmond,VA
14,15,Data Scientist,"Richmond, VA",Horizon Industries Ltd,Duties of a Data Scientist may inc...,99000,146000.0,Richmond,VA
15,16,Newborn Screening Senior Scientist...,"Richmond, VA 23220 (The Fan area)",Virginia Department of General Services,"As a NBS Senior Scientist, this po...",48681,60617.0,Richmond,VA
16,17,Data Scientist,"Indianapolis, IN 46204",The Prosper Group,Proactively identifies new data op...,67000,99000.0,Indianapolis,IN
17,18,Data Scientist Intern,"Indianapolis, IN 46214",Covance,CRO data at Covance is inherently ...,101000,149000.0,Indianapolis,IN
18,19,Data Scientist,"Carmel, IN 46032",Zotec Partners,Develop custom data models and alg...,82000,122000.0,Carmel,IN
19,20,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,77000,114000.0,Indianapolis,IN
20,21,Data Scientist,"Indianapolis, IN",Crowe,Collaborate with analytic and data...,96000,142000.0,Indianapolis,IN
21,22,Data Scientist,"Indianapolis, IN",Elements Financial,Analyze data for trends and patter...,93000,137000.0,Indianapolis,IN
22,23,DATA SCIENTIST II,"Indianapolis, IN",OneAmerica,Data Scientist II. Conduct exploratory data an...,88000,130000.0,Indianapolis,IN
23,24,Data Scientist,"Indianapolis, IN 46240",Crowe,Collaborate with analytic and data...,96000,142000.0,Indianapolis,IN
24,25,Data Scientist,"Indianapolis, IN 46240",KSM Consulting,To help continue our rapid growth ...,91000,135000.0,Indianapolis,IN
25,26,Data Scientist - Demand Analytics,"Indianapolis, IN",Cummins Inc.,Data Mining - Identifies relationships and pat...,77000,114000.0,Indianapolis,IN
26,27,Data Scientist,"San Francisco, CA 94158 (South Of Market area)",Retrace Labs,*Company Description: * Retrace is...,150000,300000.0,San Francisco,CA
27,28,Biological Science Laboratory Tech...,"Saint Paul, MN",US Department of Agriculture,"Keeping exact, detailed records of...",49926,71683.0,Saint Paul,MN
28,29,"Sr Research Scientist, Early Child...","Minneapolis, MN 55401 (North Loop area)",Child Trends,"Supervises the data collection, ta...",103500,NaN,Minneapolis,MN
29,30,Research Analyst,"Houston, TX",Rice University,And follow standard data managemen...,68557,NaN,Houston,TX
...,...,...,...,...,...,...,...,...,...
263,264,Research Analyst - Newport Beach (...,"Newport Beach, CA 92660",The Concord Group,Identify and analyze noteworthy da...,40000,45000.0,Newport Beach,CA
264,265,Data Scientist II,"Irvine, CA 92618",Cox Automotive,The Data Scientist will be involve...,97000,143000.0,Irvine,CA
265,266,"Intern, Financial Revenue Data Ana...","Aliso Viejo, CA",Ambry Genetics,"Finance, Data Science, Math, or St...",83000,122000.0,Aliso Viejo,CA
266,267,Data Scientist,"Aliso Viejo, CA",Driveway,We are looking for a Data Scientis...,93000,137000.0,Aliso Viejo,CA
267,268,Post Doctoral (Pharmaceutical Scie...,"El Paso, TX 79902 (Mission Hills area)",University of Texas at El Paso,Participates in conducting researc...,27000,37000.0,El Paso,TX
268,269,Data Scientist,"New York, NY",Interactive Brokers,Interactive Brokers Group (IBG) is...,106000,157000.0,New York,NY
269,270,Data Scientist Intern,"Rome, NY 13441",Booz Allen Hamilton,Data Scientist Intern. Knowledge of standard r...,75000,111000.0,Rome,NY
270,271,Data Scientist,"New York, NY",Downtown Music Publishing,2+ years professional data analysi...,96000,141000.0,New York,NY
271,272,Data Scientist,"New York, NY 10016 (Gramercy area)",AETNA,Strong knowledge of advanced analy...,94000,138000.0,New York,NY
272,273,Data Scientist,"New York, NY 10038 (Financial District area)",New York County Defender Services,Creating and maintaining a data in...,88000,129000.0,New York,NY
273,274,"Intern, Data Science","New York, NY 10001 (Chelsea area)",Roku,Work along-side our data scientist...,117000,173000.0,New York,NY
274,275,Data Scientist,"New York, NY",New York University,The Public Safety Lab at New York ...,84000,124000.0,New York,NY
275,276,Associate Data Scientist - NYC Hea...,"New York, NY 10016 (Gramercy area)",Unified,"As an Associate Data Scientist, yo...",103000,151000.0,New York,NY
276,277,Design & Research Analyst (Data),"New York, NY 10004 (Financial District area)",New York City TAXI & LIMOUSINE COMMISSION,Mine existing data sources to unde...,52524,54000.0,New York,NY
277,278,Data Scientist - Uber Everything (NYC),"New York, NY 10018 (Clinton area)",Uber,"To solve these problems, data scie...",105000,155000.0,New York,NY
278,279,Data Scientist,"New York, NY",HelloFresh,We're hiring a Data Scientist to j...,100000,147000.0,New York,NY
279,280,Data Scientist,"New York, NY 10011 (Chelsea area)",WebMD,"As a Data Scientist, you will lead...",116000,171000.0,New York,NY
280,281,Data Scientist,"New York, NY 10001 (Chelsea area)",Roku,Data Scientists move quickly and prototype new...,111000,163000.0,New York,NY
281,282,"Data Scientist, User Fraud","New York, NY 10011 (Chelsea area)",Spotify,We are looking for a Senior Data S...,127000,187000.0,New York,NY
282,283,Data Scientist Intern/Coop,"Armonk, NY 10504",IBM,The GCDO drives the data managemen...,98000,144000.0,Armonk,NY
283,284,Data Analysis Lead Specialist,"Philadelphia, PA",Chester County Intermediate Unit,Position Type: Contractor / Consul...,30000,44000.0,Philadelphia,PA
284,285,Senior Data Analyst,"Philadelphia, PA 19104 (Belmont area)",Urban Health Collaborative- Drexel Uni...,Advanced data compilation and data...,70000,100000.0,Philadelphia,PA
285,286,Statistical Data Analyst,"Tampa, FL",University of South Florida,4725 / Statistical Data Analyst. S...,45000,53500.0,Tampa,FL
286,287,Biological Scientist,"Tampa, FL",University of South Florida,5033 / Biological Scientist. Perfo...,32000,38500.0,Tampa,FL
287,288,Customer Facing Data Scientist,"Portland, TX",DataRobot,Customer Facing Data Scientists (C...,111000,163000.0,Portland,TX
288,289,Research Specialist,"Corpus Christi, TX",Texas A&M University Corpus Christi,Data Analyses - 40%. Knowledge of coastal and ...,40000,61000.0,Corpus Christi,TX
289,290,MARKET RESEARCH ANALYST,"Miami Beach, FL",IMW Internet Marketing WorldWide,"Identify the right target, forecas...",37086,NaN,Miami Beach,FL
290,291,"Data Scientist, Optimization","Fort Lauderdale, FL","Magic Leap, Inc.",Experience with data visualization...,102000,151000.0,Fort Lauderdale,FL
291,292,Data Reporting/Healthcare Information Data Sci...,"Memphis, TN 38103 (Downtown area)",Methodist Le Bonheur Healthcare,The Healthcare Information Data Sc...,71000,105000.0,Memphis,TN
292,293,Associate Product Owner,"Memphis, TN 37544 (Parkway Village-Oakhaven area)",St. Jude Children's Research Hospital,"Jude Cloud data access, develop an...",73000,109000.0,Memphis,TN

In [22]:
companyies=list(df_more['Company'])

In [23]:
social_media_id=[]
screen_name=[]
url=[]
company=[]
for company in companyies:
    print(company)
    harshil=api.search_users(q=company)
    try:
        social_media_id.append(harshil[0]._json['id'])
    except:
        pass
        
    try:    
        screen_name.append(harshil[0]._json['screen_name'])
    except:
        pass
        
    try:
        url.append(harshil[0]._json['url'])
    except:
        pass

        Virginia Credit Union
        Lennon Wright Associates
        Lennon Wright Associates
        VA Commonwealth Univ
        Virginia VA Community College Sys
        VA Community College Sys
        Virginia Commonwealth University
        Virginia Community College System
        Afton Chemical
        Knowledge Facilitation Group
        Amyx, Inc.
        CSS Corporation
        New Virginia Majority
        Virginia Community College System
        Horizon Industries Ltd
        Virginia Department of General Services
        The Prosper Group
        Covance
        Zotec Partners
        Cummins Inc.
        Crowe
        Elements Financial
        OneAmerica
        Crowe
        KSM Consulting
        Cummins Inc.
        Retrace Labs
        US Department of Agriculture
        Child Trends
        Rice University
        ALASKA POWER ASSOCIATION
        Centers for Disease Control and Prevention
        US Department of the Air Force
        US Department of the Air Force
        US Department of Veterans Affairs
        Centers for Disease Control and Prevention
        US Department of the Air Force
        US Department of the Air Force
        US Department of Veterans Affairs
        Verizon
        MEI Technologies
        Intrinio
        Davidson Technologies, Inc.
        1) Davidson Technologies, Inc.
        LinQuest Corporation
        HX5
        University of Colorado
        Artemis Intelligence
        Burns & McDonnell
        Burns & McDonnell
        Burns & McDonnell
        Burns & McDonnell
        US Department of Agriculture
        Innovu
        American Eagle Outfitters
        Paragon Asset Recovery Services
        Tennessee Hospital Association
        Tennessee Department of Revenue - Audit Division
        King.com
        iota Biosciences
        Rally Health
        Slync
        Pivot Bio
        Dote Shopping
        Gap Inc.
        US Department of Veterans Affairs
        Yorke Engineering, LLC
        Ibotta
        talentarchitect.com
        MGM Resorts International
        The Influential Network
        Allegiant Travel Company
        Cervello Technologies, LLC
        Roots Media inc
        Yorke Engineering, LLC
        Logic20/20
        Liberty Mutual Insurance
        Symetra
        Zillow Group
        Zillow Group
        Google
        Marchex
        US Department of the Army
        Liberty Mutual Insurance
        University of Arizona
        University of Arizona
        University of Arizona
        University of Arizona
        University of Arizona
        Quantum Technologies Inc.
        9th Way Solutions
        MRP
        9th Way Solutions
        9th Way Solutions
        Daniel Eke and Associates, PC
        9th Way Solutions
        Leading Path Consulting
        Frontier Technology Inc.
        ServiceLink Information Technology
        Genworth
        MCR, LLC.
        Apogee Engineering, LLC
        DCS Corp
        PRA Group, Inc.
        Jefferson Lab
        Jefferson Lab
        Apogee Engineering, LLC
        PRA Group
        Tetra Tech
        Old Dominion University Research Foundation
        Genworth
        US Department of the Navy
        Garmin
        Carvana
        Discount Tire Corporate Careers
        Cyient
        ViaSat
        Soaren Management LLC
        City of Virginia Beach
        City of Virginia Beach
        7-Eleven
        City of Dallas, TX
        Tulsa Community College
        L3 Technologies
        L3 Technologies
        St. Johns River Water Management
        Florida Blue
        Synergy Solutions
        EPM Scientific
        Piper Companies
        Metas Solutions
        Quadient
        Child Trends
        Thermo Fisher Scientific
        Child Trends
        Aquasight LLC
        Resinate Materials Group
        Elder Research Inc
        The Rector & Visitors of the University of Virgini...
        Merkle Inc.
        Castle Hill Gaming
        Virginia Germanna Community College
        SHINE Systems & Technologies
        Germanna Community College
        Signature Science, LLC
        Silverchair Science and Communications
        SHINE Systems & Technologies
        ABSc
        US Department of the Interior
        Lumity Inc
        University of California, Davis
        ASM WEB TECH PVT LTD
        KOGNETICS
        The Ohio State University
        The Ohio State University
        The Ohio State University
        Ohio State University Medical Center
        Ohio State University Medical Center
        AtWork
        Vantiv
        Digital Management, LLC
        Vantiv
        Deloitte
        Code Willing
        General Dynamics Information Technology
        IOMAXIS
        Booz Allen Hamilton
        Booz Allen Hamilton
        MRP
        9th Way Solutions
        U.S. Federal Government
        US Department of the Army
        Complete Omics Inc.
        Chesapeake Conservancy Inc
        Johns Hopkins University
        National Security Agency
        IRCO
        Cambia Health
        Standard Insurance Company
        Lenati
        Umpqua Bank
        Accenture
        University of Kentucky
        University of Kentucky
        University of Kentucky
        University of Kentucky
        Xometry, Inc.
        Accenture
        University of Kentucky
        CHI Saint Joseph Health
        University of Kentucky
        University of Kentucky
        US Department of the Navy
        Cardinal Innovations Healthcare Solutions
        Bojangles' Restaurants, Inc
        EasyKnock
        Albemarle Corporation
        Gulf Stream Asset Management
        Nowigence, Inc.
        EasyKnock
        HuntSource, LLC
        HuntSource, LLC
        Gulf Stream Asset Management
        Commonwealth of Massachusetts
        Georgia Department of Public Health
        Centers for Disease Control and Prevention
        Georgia State University
        Red Berry Innovations
        University of Nebraska Medical Center
        Daniel Eke and Associates, PC
        Booz Allen Hamilton
        FREEDOM CONSULTING GROUP
        Deloitte
        Human Resource Cert Inst
        9th Way Solutions
        U.S. Federal Government
        iota Biosciences
        Surf to Snow Environmental Resource Management
        Evio Labs
        County of Contra Costa, California
        JE Group of Companies
        7-Eleven
        City of San Antonio
        US Department of the Air Force
        Schneider Electric
        US Department of Commerce
        El Toro
        US Department of the Army
        IOMAXIS
        9th Way Solutions
        Elder Research Inc
        MRP
        Booz Allen Hamilton
        My WindowWorks
        Blue Cross Blue Shield of IL, MT, NM, OK & TX
        BMW Technology Corporation
        My WindowWorks
        Grainger
        Blue Cross Blue Shield of IL, MT, NM, OK & TX
        S&P GLOBAL MARKET INTELLIGENCE
        Optiver US
        Merkle Inc.
        CMYSolutions
        Gallagher
        TransUnion
        Early Warning Services
        Home Partners of America Inc
        The HOUSEpital
        Synchrony
        Legalmation
        The J. Paul Getty Trust
        上海冰鉴信息科技有限公司IceKredit
        Roku
        Los Angeles Homeless Services Authority
        Uber
        Farmers Insurance Group
        Shapestone Inc.
        CruiTek
        Roswell Biotechnologies
        US Department of the Navy
        Roswell Biotechnologies
        Tala
        Tekstaff Solutions
        The Concord Group
        Cox Automotive
        Ambry Genetics
        Driveway
        University of Texas at El Paso
        Interactive Brokers
        Booz Allen Hamilton
        Downtown Music Publishing
        AETNA
        New York County Defender Services
        Roku
        New York University
        Unified
        New York City TAXI & LIMOUSINE COMMISSION
        Uber
        HelloFresh
        WebMD
        Roku
        Spotify
        IBM
        Chester County Intermediate Unit
        Urban Health Collaborative- Drexel University
        University of South Florida
        University of South Florida
        DataRobot
        Texas A&M University Corpus Christi
        IMW Internet Marketing WorldWide
        Magic Leap, Inc.
        Methodist Le Bonheur Healthcare
        St. Jude Children's Research Hospital

In [24]:
len(social_media_id)

221

In [25]:
df_final= pd.DataFrame({"user_name":screen_name,"social_media_id":social_media_id,"company_url":url,})

In [26]:
df_final.index += 1

In [27]:
df_final()

           user_name      social_media_id              company_url
1           VACULIVE   818510649139597312  https://t.co/PN9t3nogN8
2                VCU            156714051   http://t.co/a3In7QjvfX
3              DSLCC             25579173   http://t.co/A7EtLSAS9A
4             FRC422            258023422  https://t.co/5bKlfSDvjN
5            AmyxInc   827209038786068481  https://t.co/1oluRoEPuY
6          csscorp09             85772994   http://t.co/sTEMfJU5WC
7      NewVAMajority            233630180  https://t.co/689Wo71shT
8              DSLCC             25579173   http://t.co/A7EtLSAS9A
9    CCASHMORE_BUYER            156568290  https://t.co/OCxt0dShFT
10           Covance            365005464  https://t.co/apKYTWy1Ny
11     ZotecPartners            188905742  https://t.co/1Mub9D0c9D
12           Cummins             87299367   http://t.co/vqpmj3Bha9
13      russellcrowe            133093395  https://t.co/OM7honTWnX
14        elementsCU             18975866   http://t.co/oNNgpU3bp4
15   weareoneamerica             46727968   http://t.co/olbQvFIRka
16      russellcrowe            133093395  https://t.co/OM7honTWnX
17    KSM_Consulting            624825986  https://t.co/3xy35e39lm
18           Cummins             87299367   http://t.co/vqpmj3Bha9
19              USDA             61853389  https://t.co/oz0QROB12D
20       ChildTrends             77031076  https://t.co/zRMS2DinCr
21    RiceUniversity             19720630  https://t.co/byTCvcMfDS
22            CDCgov            146569971   http://t.co/5a7cTu2vly
23        usairforce             19611483   http://t.co/RSyffiBLEx
24        usairforce             19611483   http://t.co/RSyffiBLEx
25    DeptVetAffairs             78408666  https://t.co/kfcLwsAHxx
26            CDCgov            146569971   http://t.co/5a7cTu2vly
27        usairforce             19611483   http://t.co/RSyffiBLEx
28        usairforce             19611483   http://t.co/RSyffiBLEx
29    DeptVetAffairs             78408666  https://t.co/kfcLwsAHxx
30           verizon             59889953  https://t.co/wjYV3UGdQl
..               ...                  ...                      ...
192       stoneshape           2368364684   http://t.co/vlQIIHmm72
193       soymnmink5   956201413662707714                     None
194     TALAOFFICIAL           2420529444  https://t.co/7vW6KN7ME6
195         tekstaff  1072914066069512193  https://t.co/WdsXxY2674
196   ConcordRecords              6518172  https://t.co/PqM9PNMDNq
197  CoxAutomotiveUK           4782778541  https://t.co/74ccvvEU3S
198    AmbryGenetics            112544674   http://t.co/SxRp25mObL
199    drivewaybeers            189769174   http://t.co/0ia44XXf6K
200    UTEPAthletics             27604209  https://t.co/0pA6FYpWWF
201             IBKR            264153788   http://t.co/h2A5tA2WPV
202        BoozAllen             17375116   http://t.co/0q9p4zuiW5
203         DMPGroup             19348075   http://t.co/A4lshn9Thv
204            Aetna             16188518  https://t.co/FDjHuONaEn
205             Roku             20282100  https://t.co/Vq1DGLdjxo
206     nyuniversity             28421825   http://t.co/MHz0rn5ibI
207        SFUnified             26926819   http://t.co/ZB94rILd5f
208             Uber             19103481  https://t.co/BKapvdLVFv
209       HelloFresh            431499643  https://t.co/P9srLBvO06
210            WebMD             25928253  https://t.co/J4ycwUdOS2
211             Roku             20282100  https://t.co/Vq1DGLdjxo
212          Spotify             17230018  https://t.co/jqAb64MD3y
213              IBM             18994444  https://t.co/4ZyG9FgkYe
214     MMazariegos_            258627570  https://t.co/70UAduKW8I
215    USouthFlorida             39306293  https://t.co/7M7YSA9Oec
216    USouthFlorida             39306293  https://t.co/7M7YSA9Oec
217         idigdata            158522193  https://t.co/FQzasAwS5q
218     IslandCampus             43362650  https://t.co/TodZ7ZHvh8
219           IMW_2K           2890706857  https://t.co/1h0AOErLNV
220      quantombone             29469671  https://t.co/4r18OUsTwM
221           StJude              9624042   http://t.co/XozKAQUFaf

[221 rows x 3 columns]

In [28]:
df_final.to_csv('Twitter urls.csv')

# CITATION

https://github.com/aakashtandel/Web-Scraping-Indeed/blob/master/Code/Scratch%20Notebooks/project-3-aakash-version4.ipynb

https://nycdatascience.com/blog/student-works/project-3-web-scraping-company-data-from-indeed-com-and-dice-com/

Youtube Videos